<!-- <h4>
    Welcome to the DiligenTrust Smart Office ERP demo. 

</h4> 
Please try the demo free. 

Please write below for any queries. -->

<!DOCTYPE html>
<!--Code by Divinector (www.divinectorweb.com)-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="home.css">
</head>

<body>
    {% set ws = frappe.get_doc('Whitelabel Setting') %}
    {% if ws.home_page_background %}
    <header style="background-image: url('{{ws.home_page_background}}');">
    {% else %}
    <header  style="background-image: url('/assets/dtsmartdemo/images/erpsolution.jpeg');">
    {% endif %}

        <div class="wrapper">
            <div class="logo">
                {% if ws.application_logo %}
                <!-- <img src="{{ws.application_logo}}" alt="" style="width:{{ws.logo_width}}px; height:{{ws.logo_height}}px;"> -->
                <img src="{{ws.application_logo}}" alt=""style="width:90px; height:73px;">
                {% else %}
                <img src="/assets/dtsmartdemo/images/dtsmartdemo_logo.png" alt="" style="width:90px; height:73px;">

                {% endif %}
            </div>
            <ul class="nav-area">
                {% if frappe.session.user == 'Guest' %}
                <li><a href="/login">Login</a></li>
               
                {% else %}
                {% endif %}
            </ul>
        </div>
        {% set log = frappe.db.sql(""" select user_name, password from `tabUser Details` ORDER BY user_name asc""") %}
        <div class="login_details">
            {% for l in log %}
            <div class="users">
                <p class="username" style="font-weight: bold;">Username: <small class="uservalue">{{l[0]}}</small></p> 
                <p class="password" style="font-weight: bold;">Password: <small class="passwordvalue">{{l[1]}}</small></p> 
            </div>
            {% endfor %}
        </div>
        <div class="welcome-text">
            <h4>
                Welcome to the <span>DiligenTrust Smart Office ERP demo</span></h4>
            <a href="/contact">Contact US</a>
        </div>
    </header>

</body>

</html>